{% extends "babySitter/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <style>
        body {
            background-image: url('/media/Logo.jpg');
            margin-left: 1000px;
            background-size: 1400px;
        }
        </style>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <p style="color:black;">Log In</p>
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'babySitter-choice' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
