{% extends "babySitter/base.html" %}
{% block content %}
    <div class = "main">
      <head>
        <style>
        body {
            background-image: url('/media/Logo.jpg');
            margin-left: 750px;
            background-size: 1400px;
        }
        </style>
        <style>
        h3 {text-align: center; color: Red; font-size: 200%;}
        h5 {text-align: center; color: white; font-size: 100%;}
        p {text-align: center;}
        div {text-align: center;}
        </style>
      </head>
    <body>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h3>Our Team:</h3>
    <h5>Gal Tayeb</h5>
    <h5>Omri Kimchy</h5>
    <h5>Shachar Yosebashvili</h5>
    <h5>Chen Niego</h5>
    <h5>Liad Telner</h5>
    <br><br><br>
    <h3>Supervisor:</h3>
    <h5>Aviv Shukrun</h5>
    </body>
    </div>
{% endblock content %}
