{% extends "babySitter/base.html" %}
{% block content %}
    <div class = "main">
        <h1>Register type</h1>
        <h3>What are you looking for ?</h3>
        <br/><br/>
            <div class="form-group">
                <a href="{% url 'register' 1%}" class="btn btn-outline-info">I'm a babysitter</a>
            </div>
        <br/>
            <div class="form-group">
                <a href="{% url 'register' 2%}" class="btn btn-outline-info">I'm a parent... I'm looking for a babysitter</a>
            </div>
    </div>
{% endblock content %}
