{% extends "babySitter/base.html" %}
{% block content %}
    <div class = "main">
      <head>
        <style>
        body {
            background-image: url('/media/Logo.jpg');
            margin-left: 750px;
            background-size: 1400px;
        }
        </style>
        <style>
        h1 {color: white}
        p {text-align: center;}
        div {text-align: center;}
        </style>
      </head>
    <body>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="form-group">
                <a href="{% url 'register' 2%}" class="btn btn-outline-dark btn-lg" style="color: white">I'M A PARENT</a>
            </div>
        <br/>
            <div class="form-group">
                <a href="{% url 'register' 1%}" class="btn btn-outline-dark btn-lg" style="color: white">I'M A BABYSITTER</a>
            </div>
    </body>
    </div>
{% endblock content %}
