{% extends "babySitter/base.html" %}
{% block content %}
    <div class = "main">
        <h2>Here what I found for you...</h2>
        <br/><br/>
        <h5>First name: Shir</h5>
        <h5>Last name: Levi</h5>
        <h5>Email address: shirlevi@gmail.com</h5>
        <h5>Gender: Female</h5>
        <h5>Age: 25</h5>
        <h5>Id number: 123456789</h5>
        <h5>Phone number: 0501234567</h5>
        <br/><br/>
        <a class="btn btn-outline-info">Order Now</a>
        <a class="btn btn-outline-info">Cancel</a>
        <br/><br/>
    </div>
{% endblock content %}
