{% extends "babySitter/base.html" %}
{% block content %}
    <div class = "main">
      <head>
        <style>
        body {
            background-image: url('/media/Logo.jpg');
            margin-left: 750px;
            background-size: 1400px;
        }
        </style>
        <style>
        p {text-align: center;}
        div {text-align: center;}
        </style>
      </head>
    <body>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{#         #}
{#            <div class="form-group" >#}
{#                <a href="{% url 'login' %}" class="btn btn-outline-info" style="border-color: black">I have an account</a>#}
{#            </div>#}
{#        <br/>#}
{#            <div class="form-group">#}
{#                <a href="{% url 'babySitter-choice' %}" class="btn btn-outline-info" style="border-color: black">I don't have an account</a>#}
{#            </div>#}
{#    #}
    </body>
    </div>
{% endblock content %}
